.adminmain{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.admilist ul{
    list-style: none;
    font-weight: bold;
    cursor: pointer;
}
.userdetails h2{
background: #761c1c;

}
.admindashbord{
    height: 700px;width: 300px;
    border: solid blue;
    display: flex;
   flex-direction: column;
   align-items: center;

}
.adminimg{
    height: 100px;width: 100px;
    border-radius: 50%;
    border: solid;
}
.adminIteam{
    height: 700px;
width: 900px;
border: solid red;

}
.adminIteam td{
    color: black;
}